PyCapture2  # download from https://www.flir.co.uk/products/flycapture-sdk/
numpy
opencv>=3.0 # only for run_camera.py
keyboard    # only for run_camera.py
pandas      # only for analyse_timestamps.py
matplotlib  # only for analyse_timestamps.py
moviepy     # only for extract_embedded_image_info.py
PyQt5       # only for gui.py
